.chartContent{
    margin-left: 0px;
}


body
{
        font-family: "Helvetica";
        margin-left:30px;
        font-size:12px;
}

a
{
    color:#777;
}
.bigHeader
{
    font-family: "Helvetica";
    margin-top:20px;
    margin-left:10px;
    font-size: 30px;
}

.menu
{
    font-size:20px;
    margin-top:30px;
}

.menuitem
{
    float:left;
    margin-left:5px;
    margin-right:5px;
    padding-left:10px;
    padding-right:10px;

    border-bottom: solid #777;
}

.menuitem a
{
    color:#777;
    text-decoration:none;
}
.menuitem:hover
{
    color:#000;
    border-bottom: solid #000;
}

.menuitem:hover a
{
    color:#000;
    border-bottom: solid #000;
}
.menuitem.selected
{
    color:#000;
    border-bottom: solid #000;
}

.menuitem.selected a
{
    color:#000;
    border-bottom: solid #000;
}

.content
{
    margin-left:10px;
    margin-top:20px;
    font-size:15px;
}

.footer
{   margin-left:10px;
    margin-bottom:50px;
    margin-top:20px;
    font-size:10px;
}

h2
{
    font-size: 20px;
    font-weight: normal;
}

h3
{
    font-size:16px;
    font-weight: normal;
    color: #777;
}
