body{
    background-color: #000;
    color: #FFF;
    fill: #FFF;
    font-family: Advent Pro, semi-bold;
    font-weight: 400;
}
path{
    fill: #000;
    stroke: #FFF;
    stroke-width: 0.3px;
}
.node{
    //fill-opacity: 0.75;
    fill: #EC7533;
    //stroke: #EC7533;
    //stroke-width: 2px;
    //stroke-opacity: 0.5;
}
.edge{
    stroke: #865D9F;
}
.tooltip{
    position: absolute;
    width: 95px;
    height: 100px;
    padding: 8px;
    font-weight: 400;
    font: 15px sans-serif;
    background: #FFF;
    border: solid 1px #aaa;
    border-radius: 8px;
    pointer-events: none;
    z-order:1000;
}
.tooltip .big{
    //font: 12px sans-serif;
    font-size: 10px;
    color: black;
    text-align: center;
    vertical-align: middle;
}

.zonaFecha
{
    height: 40px;
    background-color: #000;
    padding-top:5px;
    padding-left:30px;
    padding-right: 30px;
}

.zonaFecha .play
{
    float:left;
    cursor:pointer;
    margin-top:6px;
}

.zonaFecha .slider
{
    float:left;
    min-width: 70%;
    margin-top:15px;
    margin-left:20px;
    margin-right:20px;
    background-color: #eee;
    //display: none;
}
.zonaFecha #sliderg
{
    float:left;
    min-width: 70%;
    margin-top:1px;
    margin-left:20px;
    margin-right:20px;
    #background-color: #eee;
}

.zonaFecha .fechaText
{
    float: left;
    margin-top:5px;
    margin-left: 30px;
    font-size:15px;
}
.zonaFecha .ui-slider-horizontal {
    height: .30em;
    cursor: pointer;
}

.zonaFecha .ui-widget-content {
    border: 0px solid #AAA;
    background-color: #CCC;
}

.zonaFecha .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br
{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.zonaFecha .ui-slider .ui-slider-handle
{
  cursor:pointer;
  width: 1.0em;
  height: 1.0em;
  margin-left:0px;
  margin-top:0px;
}
.ui-widget :focus { outline: none; }
#zonaGraph{
    float: left;
    min-width: 70%;
    font-size: 20px;
}
#zonaChart{
    margin-left: 9%;
}
#chartContent{
    float:left;
    margin-left: -40px;
    margin-right: 40px;
}
#chartInfo{
    font-size: 12px;
}
.line{
    opacity: 1.0;
    stroke-width: 1px;
}
.marker{
    fill: #000;
}
